@model IEnumerable<JesperCompanyAB.Models.Holiday>

@{
    ViewData["Title"] = "Index";
}

<h1>Sök Ledighet</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HolidayType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HolidayType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.HolidayId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.HolidayId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.HolidayId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
